<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div id="link-container">
        <% data.links.forEach(link = (link) => { %>
            <div>
                <a href="<%= link.url %>"><%= link.name %></a>
            </div>
        <% }) %>
    </div>
</body>
</html>
