body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#link-container div {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover, a:focus {
    text-decoration: underline;
}
